name: Brew install tests

on:
  pull_request:
    branches: [main]
    # Execute this workflow ONLY if any cask was changed
    paths:
      - Casks/*.rb

permissions:
  contents: read

jobs:
  install_casks:
    name: Install casks on ${{ matrix.macos }}
    strategy:
      matrix:
        macos:
          - macos-14
          - macos-15
          - macos-15-intel
          - macos-26
    env:
      HOMEBREW_LOGS: ~/homebrew-logs
      HOMEBREW_TEMP: ~/homebrew-temp
      HOMEBREW_NO_AUTO_UPDATE: 1
    runs-on: ${{ matrix.macos }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Create a temporary tap
        run: brew tap local/test .

      - name: Install openvox8-agent cask
        run: brew install --display-times --cask openvox8-agent
      - name: Check openvox8-agent
        run: /opt/puppetlabs/bin/puppet apply -e 'warning $facts["implementation"], $facts["clientversion"]'
      - name: Uninstall openvox8-agent cask
        run: brew uninstall --cask openvox8-agent
      - name: Check openvox8-agent uninstalled cleanly
        run: '! pkgutil --pkgs=^org\.voxpupuli\.openvox-agent$'

      - name: Install openvox8-openbolt cask
        run: brew install --display-times --cask openvox8-openbolt
      - name: Check openvox8-openbolt
        run: >-
          /opt/puppetlabs/bin/bolt --version
          && /opt/puppetlabs/bin/bolt apply -e 'warning $facts["implementation"], $facts["clientversion"]' -t localhost --verbose
      - name: Uninstall openvox8-openbolt cask
        run: brew uninstall --cask openvox8-openbolt
      - name: Check openvox8-openbolt uninstalled cleanly
        run: '! pkgutil --pkgs=^org\.voxpupuli\.openbolt$'
