name: Brew install tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  install_casks:
    name: Install ${{ matrix.cask }} cask on ${{ matrix.macos }}
    strategy:
      matrix:
        macos:
          - macos-13
          - macos-14
          - macos-15
          - macos-15-intel
          - macos-26
        cask:
          - 'openvox-agent-8'
    env:
      HOMEBREW_LOGS: ~/homebrew-logs
      HOMEBREW_TEMP: ~/homebrew-temp
      HOMEBREW_NO_AUTO_UPDATE: 1
    runs-on: ${{ matrix.macos }}
    steps:
      - name: Checkout current PR
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: brew install --cask Casks/${{ matrix.cask }}.rb --force
