name: Brew install tests

on:
  pull_request:
    branches: [main]
    # Execute this workflow ONLY if any cask was changed
    paths:
      - Casks/*.rb

permissions:
  contents: read

jobs:
  install_casks:
    name: Install casks on ${{ matrix.macos }}
    strategy:
      matrix:
        macos:
          - macos-13
          - macos-14
          - macos-15
          - macos-15-intel
          - macos-26
    env:
      HOMEBREW_LOGS: ~/homebrew-logs
      HOMEBREW_TEMP: ~/homebrew-temp
      HOMEBREW_NO_AUTO_UPDATE: 1
    runs-on: ${{ matrix.macos }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Create a temporary tap
        run: brew tap local/test .
      - name: Install openvox-agent-8 cask
        run: brew install --display-times --verbose --cask openvox-agent-8
      - name: Check openvox-agent-8
        run: /opt/puppetlabs/bin/puppet apply -e 'notice $facts["implementation"], $facts["clientversion"]'
      - name: Uninstall openvox-agent-8 cask
        run: brew uninstall --verbose --cask openvox-agent-8
